{{#with article}}
<div id="view_article" data-id="{{id}}">
  <a href="#" id="refresh">Changes Occurred: Click to Refresh</a>
  <p id="removed">Article Removed</p>
<h2>{{headline}}</h2>
<small>{{secondsToDate post_date}}</small>
<p>{{body}}</p>
</div>
{{/with}}
